<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petshop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" >
    <header>
        <h2 class="text-center">Petshop</h2>
    </header>
    <main>
        <ul class="list-group">
            <li class="list-group-item"><a href="/cliente" class="btn btn-primary btn-block">Cliente</a></li>
            <li class="list-group-item"><a href="/animal" class="btn btn-primary btn-block">Animal</a></li>
            <li class="list-group-item"><a href="/funcionario" class="btn btn-primary btn-block">Funcionario</a></li>
            <li class="list-group-item"><a href="/servico" class="btn btn-primary btn-block">Serviço</a></li>
        </ul>
    </main>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

